#padre{
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap; */
    /*flex-direction y flex-warp*/
    flex-flow: column nowrap;
    align-items: baseline;

    
}



.hijo-1, .hijo-3 {
    background-color: aqua;
    color: black;
    height: 100px;
}

.hijo-2 {
    background-color: blue;
    color: black;
    height: 300px;
}

.hijo-1, .hijo-2, .hijo-3{
    font-family: monospace;
    font-size: 20px;
}