#padre{
    display: grid;
    grid-template-columns: 300px 200px;
    grid-template-rows: 80px 300px;

}

.hijo-1, .hijo-2, .hijo-3, .hijo-4{
    border: 5px solid blue;
}

#padre-2{
    display: flex ;
}