
    /*background-image: radial-gradient(red 5%, blue 40%, salmon 5%, yellow 50%); */

    #main{
        width: 250px;
        height: 250px;
        border: black solid 5px;
        text-align: center;
        /*transform: rotate(160deg);
        transform: translate(30px, 50px);
        transform: skewY(250deg); */
        transform: scaleX(1.6);

    }
    
    #main-2{
        padding: 50px;
        position: absolute;
        border: 1px solid black;
        /*transform: scaleZ(0.5);
        transform: rotate(45deg);
        transform-origin: 20px, 40px;
        height: 100px;
        font-size: 30px;
        transition: font-size 7s; */ 
        transition: all 5s;
        animation-name: efecto;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        animation-duration: 4s;
        animation-delay: 10s;

    }
    

    @keyframes efecto{
        0% { width: 100px; }
        25% { width: 300px; }
        50% { width: 400px; }
    }